<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="stylesheet" href="{{ asset('built/app/css/hoaro.css') }}" type="text/css"/>
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<div class="header">
  {% block header %}{% endblock %}
</div>

<div class="container">
  <div class="messages">
    {% block messages %}
      {% include '::messages.html.twig' %}
    {% endblock %}
  </div>

  {% block body %}{% endblock %}
</div>

<script src="{{ asset('built/app/js/hoaro.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>