{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Testent edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('arthur_hoaro_rss_cruncher_client_index') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
